@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');

$font-dm-sans: "DM Sans", sans-serif;

$border-radius-section: 8px;
$border-radius-button: 20px;

// COLORS
$bg-color-body: #000;
$bg-color-button-hover: #eee;
$bg-color-section: #121212;
$bg-color-playlist: #242424;
$bg-color-icon: #131313;
$bg-color-arrow: rgba(0,0,0,0.5);
$bg-color-scrollbar: #6a6a6a;
$font-color-principal: #b3b3b3;
$font-color-secondary: #fff;



