
@media screen and (max-width: 1490px) {
  .sidebar__links {
    margin: 8px 0;
  }
  
  .languages__button {
    margin: 8px 16px;
  }

  .offer__scroll-container {
    max-height: 500px;
    padding-bottom: 800px;
  }

  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 1290px) {
  .offer__scroll-container {
    padding-bottom: 1000px;
  }

  .offer__list-item {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}

@media (max-width: 1030px) {
  .library {
    height: 470px;
  }

  .arrow-right {
    display: none;
  }

  .header__search {
    max-width: 15vw;
  }

  .playlist-container {
    max-height: 76vh;
  }

  .offer__scroll-container {
    padding-bottom: 1700px;
  }

  .offer__list-item {
    grid-template-columns: 1fr 1fr;
  }

  .main__footer__links {
    flex-direction: column;
  }

  .social-midias {
    margin-bottom: 24px;
    flex-wrap: nowrap;
  }
}

@media (max-width: 830px) { 
  .library {
    height: 462px;
  }

  .footer {
    overflow-x: auto;
    scrollbar-color: var(--bg-playlist-color) var(--bg-sidebar-color);
    scrollbar-width: thin;
  }

  .footer .footer__button {
    padding: 16px;
  }
  
  .playlist-container {
    max-height: 75vh;
  }

  .offer__scroll-container {
    height: 100px;
    padding-bottom: 3250px;
  }

  .offer__list-item {
    grid-template-columns: 1fr;
  }
}

