body {
  background-color: var(--bg-body-color);
  font-family: var(--font-dm-sans);
  color: var(--font-color-principal);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: #a7a7a7 var(--bg-sidebar-color);
  scrollbar-width: thin;
}

/* MENU NAVEGAÇÃO LATERAL */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 8px;
  width: 350px;
}

.sidebar__navigation {
  background-color: var(--bg-sidebar-color);
  border-radius: var(--border-radius-sidebar);
  padding: 18px 0 0 22px;
}

.sidebar__navigation .logo {
  background: transparent;
  display: flex;
}

.sidebar__navigation .logo img {
  width: 80px;
}

.sidebar nav ul {
  margin-top: 2px;
  padding-bottom: 12px;
}

.sidebar nav ul li {
  padding: 16px 2px 12px;
}

.sidebar nav ul li a {
  color: var(--font-color-principal);
  font-weight: 600;
  font-size: 16px;
  transition: .3s;
}

.sidebar nav ul li a span:first-child {
  padding-right: 15px;
  font-size: 20px;
}

.sidebar nav ul li a:hover {
  color: var(--font-color-secondary);
}

/* BIBLIOTECA - MENU */

.library {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 8px;
  padding: 0px;
  height: 30.375rem;
}

.sidebar__library__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 16px;
}

.library__button {
  display: flex;
  gap: 15px;
  padding: 8px 9px;
  color: var(--font-color-principal);
  background-color: transparent;
  font-family: var(--font-dm-sans);
  font-weight: 600;
  font-size: 16px;
  transition: .3s;
}

.library__button span.fa-book {
  font-size: 20px;
}

.library__button:hover {
  color: var(--font-color-secondary);
}

.sidebar__library__content > span {
  padding: 8px 9px;
  border-radius: 50%;
  transition: .2s;
}

.sidebar__library__content > span:hover {
  color: var(--font-color-secondary);
  background-color: #181818;
  cursor: pointer;
}

/* PLAYLIST - CARD */

.sidebar__playlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  margin: 5px 8px;
  padding: 20px 20px 16px;
  border-radius: var(--border-radius-sidebar);
  background-color: var(--bg-playlist-color);
  color: var(--font-color-secondary);
}

.sidebar__playlist h2 {
  font-size: 15px;
  font-weight: 600;
}

.sidebar__playlist p {
  font-size: 12px;
  font-weight: 500;
}

.sidebar__playlist .playlist__button {
  font-family: var(--font-dm-sans);
  font-size: 12px;
  font-weight: 600;
  color: var(--bg-body-color);
  background-color: var(--font-color-secondary);
  border-radius: var(--border-radius-button);
  padding: 8px 16px;
  margin-top: 6px; 
}

.sidebar__playlist .playlist__button:hover {
  background-color: #eee;
  transform: scale(1.05);
}

/* LINKS - COOKIES */

.sidebar__links {
  margin: 20px 0 12px;
  padding: 20px;
}

.sidebar__links ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px 5px;
  flex-wrap: wrap;
}

.sidebar__links ul li a {
  padding-right: 15px;
  color: var(--font-color-principal);
  font-size: 11px;
  font-weight: 300;
}

/* IDIOMA - BOTÃO */

.languages__button {
  border-radius: var(--border-radius-button);
  border: 1px solid #878787;
  background-color: transparent;
  color: var(--font-color-secondary);
  font-family: var(--font-dm-sans);
  font-size: 12px;
  font-weight: 600;
  padding: 8px 15px;
  margin: 8px 20px 30px;
}

.languages__button .fa-globe {
  padding-right: 3px;
}

.languages__button:hover {
  border: 1px solid var(--font-color-secondary);
  transform: scale(1.04);
}

