@use '../abstracts/vars';
@use '../abstracts/mixins';

// SCROLL
.offer__scroll-container {
  max-height: 43vh;
  margin: 1.5rem;
  padding-bottom: 33vw;

  &::-webkit-scrollbar {
    width: 1px;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
  // FIM SCROLL 

  .offer__list-item {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    padding-bottom: 1rem;

    .cards {
      position: relative; 
      width: 13vw;
      height: 13vw;
      border-radius: vars.$border-radius-section;
      overflow: hidden;
      cursor: pointer;
      
      & {
        span {
          padding: 1rem;
          position: absolute;
          color: vars.$font-color-principal;
          font-size: 1.5rem;
          font-weight: 700;
        }
  
        .img-cover {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 6.69rem;
          width: 6.69rem;
          transform: rotate(25deg) translate(18%, -2%);
        }  
      }

      &:hover {
        border: 1px solid #242424;
        transform: scale(1.01);
      }
      
      /* COLOR E IMAGE CARDS */
      .card1 {
        background-color: #14746f;
        .img1 {
          background: url('../../assets/playlist/1.jpeg');
          background-size: contain;
        }
      }
      .card2 {
        background-color: #212f45;
        .img2 {
          background: url('../../assets/playlist/2.png');
          background-size: contain;
        }
      }
      .card3 {
        background-color: #144552;
        .img3 {
          background: url('../../assets/playlist/3.jpeg');
          background-size: contain;
        }
      }
      .card4 {
        background-color: #3C1E50;
        .img4 {
          background: url('../../assets/playlist/4.jpeg');
          background-size: contain;
        }
      }
      .card5 {
        background-color: #358f80;
        .img5 {
          background: url('../../assets/playlist/5.jpeg');
          background-size: contain;
        }
      }
      .card6 {
        background-color: #312244;
        .img6 {
          background: url('../../assets/playlist/6.jpeg');
          background-size: contain;
        }
      }
      .card7 {
        background-color: #006466;
        .img7 {
          background: url('../../assets/playlist/7.jpeg');
          background-size: contain;
        }
      }
      .card8 {
        background-color: #3e1f47;
        .img8 {
          background: url('../../assets/playlist/8.jpeg');
          background-size: contain;
        }
      }
      .card9 {
        background-color: #0b525b;      
        .img9 {
          background: url('../../assets/playlist/9.jpeg');
          background-size: contain;
        }
      }
      .card10 {
        background-color: #272640;
        .img10 {
          background: url('../../assets/playlist/10.jpeg');
          background-size: contain;
        }
      }
      .card11 {
        background-color: #065a60; 
        .img11 {
          background: url('../../assets/playlist/11.jpeg');
          background-size: contain;
        }
      }
      .card12 {
        background-color: #5c4d7d;        
        .img12 {
          background: url('../../assets/playlist/12.jpeg');
          background-size: contain;
        }
      }
      .card13 {
        background-color: #1b3a4b;       
        .img13 {
          background: url('../../assets/playlist/13.jpeg');
          background-size: contain;
        }
      }
      .card14 {
        background-color: #4d194d;        
        .img14 {
          background: url('../../assets/playlist/14.jpeg');
          background-size: contain;
        }
      }
      .card15 {
        background-color: #455e89;        
        .img15 {
          background: url('../../assets/playlist/15.jpeg');
          background-size: contain;
        }
      }
      /* FIM COLOR CARDS */
    }
  }
}





